<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iBoss</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/manager">Home</a></li>
      <li class="active"><a href="/logout">Logout</a></li>
  </ul>
  </div>
</nav>

<div class="container main">
  <div class="row">
    <h1 class="text-center title">Todo Apps</h1>
      <% deptTodos.forEach(deptTodo => { %>
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-3-offset">
        <div class="panel panel-default">
          <div class="text-center panel-heading"><b>Departemen <%=  deptTodo.name %></b></div>
          <div class="text-center panel-heading"><%= deptTodo.manager %>, <%=  deptTodo.email %></div>
          <br>
          <% var todos = deptTodo.Tasks %>
          <% todos.forEach(todo => { %>
            <div class="row">
              <div class="col-md-12">
                <div class="panel-body"><%= todo.task %><br><span class="created-at">Deadline <%= todo.deadline %></span>
                </div>
              </div>
            </div>

          <% }) %>
        </div>
      </div>
      <% }) %>

  </div>
</div>

</body>
</html>
