<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iBoss</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/boss">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col-md-5">
    <div class="form-area">

      <form action="/boss/edit/<%= task.id %>" method="post">
        <h3 style="margin-bottom: 25px; text-align: center;">Edit your todo</h3>
        <div class="form-group">
          Department:<br>
          <select name="department" class="form-control">
            <%  depts.forEach(d => { %>
              <% if (d.name == selectedDept.name) { %>
                  <option value="<%=d.id%>" selected><%=d.name%></option>
              <% } else { %>
                  <option value="<%=d.id%>"><%=d.name%></option>
              <% } %>
            <% }) %>
          </select>
        </div>
        <br>
        <div class="from-group">
          is complete ?
          <select name="status" class="form-control">
              <option value="<%=task.is_complete%>" selected><%=task.is_complete%></option>
              <option value="<%=!task.is_complete%>"><%=!task.is_complete%></option>
            </select>
        </div>
        <div class="form-group">
          Deadline

              <input name="deadline" class="form-control" type="textarea" id="message" placeholder="" maxlength="140" rows="4" value="<%= task.deadline  %>"></input>
          <span class="help-block"><p id="characterLeft" class="help-block "></p></span>
        </div>
        <br>
        Your task:<br>
        <div class="form-group">
              <textarea name="task" class="form-control" type="textarea" id="message" placeholder="your todo here..." maxlength="140" rows="4" value=""><%= task.task%></textarea>
          <span class="help-block"><p id="characterLeft" class="help-block "></p></span>
        </div>
        <br><br>
        <input class="btn btn-primary pull-right" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

</body>
</html>
