<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iBoss</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/boss">Home</a></li>
      <li class="active"><a href="/logout">Logout</a></li>
    </ul>
    <form action="/boss/search" class="navbar-form navbar-left">
      <div class="form-group">
        <input value="" name="task" type="text" class="form-control" placeholder="Search Task">
      </div>

      <label class="sortby" for=""> Department :  </label>
        <select name="department">
          <option value="none">None</option>
          <option value="Marketing">Marketing</option>
          <option value="Humaniora">Humaniora</option>
        </select>

      <label class="sortby" for=""> Sort By :  </label>
        <select name="sortby">
          <option value="id">None</option>
          <option value="deadline">Deadline</option>
          <option value="in_complete">completion</option>
        </select>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<div class="container main">
  <div class="row">
    <h1 class="text-center title">Todo Apps</h1>
      <% bossTodos.forEach(bossTodo => { %>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="text-center panel-heading"><b>Departemen <%=  bossTodo.name %></b></div>
          <div class="text-center panel-heading"><%= bossTodo.manager %>, <%=  bossTodo.email %></div>
          <br>
          <% var todos = bossTodo.Tasks %>
          <% todos.forEach(todo => { %>
            <div class="row">
              <div class="col-md-12">
                <div class="panel-body">
                  <% if (todo.is_complete)  { %>
                    <span style="text-decoration: line-through"><%= todo.task %></span><br><span class="created-at">Deadline <%= helpers.convertDate(todo.deadline) %></span>
              <% } else { %>
                 <span><%= todo.task %></span><br><span class="created-at">Deadline <%= helpers.convertDate(todo.deadline) %></span>
              <% } %>
                  <div class="edit-button">
                    <a href="/boss/edit/<%= todo.id %>"><span class=" glyphicon glyphicon-pencil"></span></a>
                  </div>
                  <div class="close-button">
                    <a href="/boss/delete/<%= todo.id%>"><span class="glyphicon glyphicon-remove close-button"></span></a>
                  </div>
                </div>
              </div>
            </div>

          <% }) %>
        </div>
      </div>
      <% }) %>
      <a href="/boss/create">
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </a>
  </div>
</div>

</body>
</html>
